<!--File name: templates/dance_site/create_class_form.html
    Author: Andriana Skaperdas (askap@bu.edu)
    Description: A html page which includes a form to create a new class-->


{% extends 'dance_site/base.html' %}
{% block content %}


<!--  This is a form to create a new class using the the attributes of Class object-->
<h1 > New Class Form</h1>

<form method ='POST' >
{% csrf_token %}
    <table align="center">
    {% for field in form %}
    <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>
            <input type="submit" name = "Create Class!" value="Create Class">
        </td>
    </tr>
    </table>
</form>
{% endblock %}

