<!-- File name: templates/show_all_students.html
    Author: Andriana Skaperdas (askap@bu.edu)
    Description: A html page to show a listing of all the students-->

{% extends 'dance_site/base.html' %}
{% block content %}



<br>
<h1  align="center">Our Students</h1>

<!-- display the students in columns -->

{% load columns %}

<div class="row">
    {% for col in show_all_students.list_of_lists|columns:3 %}
        <div class="col-md-4">
            {% for item in col %}
                <div class="item">{{ item }}</div>
            {% endfor %}
        </div><!-- /col-md-4 -->
    {% endfor %}
</div><!-- /row -->



<table align="center" class="my-table">
    <tr>
        <th width=30%> Name</th>
        <th width=30%> Hometown</th>
        <th width=30%> Image</th>
    </tr>

{% for student in show_all_students %}
    <tr class="my-style">
        <td><a href=" {% url 'student' student.pk %}"> {{student.first_name}} {{student.last_name}}</a></td>
        <td>{{student.city}}</td> 
        <td><a href=" {% url 'student' student.pk %}"> <img src="{{student.profile_image_url}}" style = "max-height:200;"> </a></td>
    </tr> 
{% endfor %}
</table>

{% endblock %}