{% extends 'dance_site/base.html' %}
{% block content %}



<br>
<h1 align="center">Classes</h1>


<p  align="center"> <a href = "{% url 'create_class' %}"> Create a Class </a></p> 



<div align="center" class="search-bar mt-sm-2 mr-2">
    <form method="GET">
    <input type="text" class="form-control" name="q" id="id_q" placeholder="Search for a class..."> 
    </form> 
</div>  

<script type="text/javascript">
    document.getElementById("id_q")
</script>
     


{% if show_all_classes %}
<table class="my-table">

    <tr>
        <th width="20%"> </th>
        <th  width="20%"> Class</a></th>
        <th  width="20%"> Day</th>
        <th  width="20%"> Teacher</th>
        <th  width="20%"> Price</th>

    </tr>

    {% for class in show_all_classes %}
    <tr class="my-style">
        <td width="20%" align="center"><img src="{{class.class_picture}}" style = "max-width:200;"></td>
        <td width="20%" align="center">  {{class.class_name}}</a></td>
        <td width="20%" align="center"> {{class.day}}</td>
        <td width="20%" align="center"> <a href=" {% url 'teacher' class.teacher.pk %}">{{class.teacher}}</td>
        <td width="20%" align="center"> {{class.price}}</td>
        <td><a href="{% url 'delete_class' class.pk%}">Delete</a></td>

    </tr>
    {% endfor %}
</table>

{% else %}
    <div class="container">
        {% include 'dance_site/search.html' with query=query %}
    </div>
{% endif %}

{% endblock %}