<!-- File name: templates/show_all_classes.html
    Author: Andriana Skaperdas (askap@bu.edu)
    Description: A html page to show a listing of all the classes. Contains a search bar too-->


{% extends 'dance_site/base.html' %}
{% block content %}


<br>
<h1 >Classes</h1>

<!-- link to create a class form and page -->
<p  align="center"> <a href = "{% url 'create_class' %}"> Create a Class </a></p> 


<!-- search bar code -->
<div align="center" class="search-bar mt-sm-2 mr-2">
    <form method="GET">
    <input type="text" class="form-control" name="q" id="id_q" placeholder="Search for a class..."> 
    </form> 
</div>  

<script type="text/javascript">
    document.getElementById("id_q")
</script>
     

<!-- A table to display all the classes-->
{% if show_all_classes %}
<table class="my-table">

    <tr>
        <th width="20%"> </th>
        <th  width="20%"> Class</a></th>
        <th  width="20%"> Day</th>
        <th  width="20%"> Teacher</th>
        <th  width="20%"> Price</th>

    </tr>

    {% for class in show_all_classes %}
    <tr class="my-style">
        <td width="20%" align="center"><img src="{{class.class_picture}}" style = "max-width:200;"></td>
        <td width="20%" align="center">  {{class.class_name}}</a></td>
        <td width="20%" align="center"> {{class.day}}</td>
        <td width="20%" align="center"> <a href=" {% url 'teacher' class.teacher.pk %}">{{class.teacher}}</td>
        <td width="20%" align="center"> {{class.price}}</td>
        <td><a href="{% url 'delete_class' class.pk%}">Delete</a></td>

    </tr>
    {% endfor %}
</table>

{% else %}

<!-- code to connect the search template resutls with this page -->
    <div class="container">
        {% include 'dance_site/search.html' with query=query %}
    </div>
{% endif %}

{% endblock %}