<!-- File name: templates/student_page.html
    Author: Andriana Skaperdas (askap@bu.edu)
    Description: A html page to show an individual students page, contains a link to update the student-->


{% extends 'dance_site/base.html' %}
{% block content %}

<!-- style elements for this page-->
<style>
    body {
      background-image: url('https://www.raquellesdance.com/img/background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
   
    .homepage { 
    background-color: white;
    margin-right:10%;
    margin-left:10%;
    }
</style>

<br>
<br>
<div class="homepage">

<!-- a link to retun back to the all students page-->
<p style="text-align:center;"> <a href ="{% url 'show_all_students'  %}" > Return to all students list </a> </p>

<!-- display all the student's info-->
<table align="center">
    <tr>
        <td width="30%">
            <table class="ind-pages">
                <h2 >Information</h2>
                <tr>
                    <th> Email</th>
                    <td>{{student.email_address}}</td>
                </tr>
                <tr>
                    <th> Hometown</th>
                    <td>{{student.city}}</td>
                </tr>
                <tr>
                    <th> Birth Date</th>
                    <td>{{student.birth_date}}</td>
                </tr>
            </table>
        </td>
        <td width="30%">
            <h1 >{{student.first_name}} {{student.last_name}}</h1> 
            <br>
            <p style="text-align:center;"><img src="{{student.profile_image_url}}" style= "max-height:400 ;"></p>
            <p style="text-align:center;"><a href ="{% url 'update_student' student.pk %}" > Update this Student</a></p>
        </td>
        <td width="30%">

            <!-- display classes the student is taking -->
            <h2 > Classes Entrolled In</h2>
           
            <table align="center">
                <tr>
                    <th> Class Name</th>
                    <th> Day</th>
                </tr>
                
                {% for class in student.get_classes %}
                    <tr>
                        <td >{{class.class_name}}</td>
                        <td >{{class.day}}</td>
                        <td>{% if status.image %}
                            <img src='{{class.class_picture.url}}' style='max-width: 200;'>
                            {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
            <p align="center"> <a href= "{% url 'show_possible_classes' student.pk %}"> Add a Class</a> </p>
        </td>
    </tr>
</table>
<br>
</div>
{% endblock %}
