<!-- File name: templates/show_all_classes.html
    Author: Andriana Skaperdas (askap@bu.edu)
    Description: A html page for an individual teacher -->


{% extends 'dance_site/base.html' %}
{% block content %}

<!-- style elements for this page -->
<style>
    body {
      background-image: url('https://www.raquellesdance.com/img/background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
   
    .homepage { 
    background-color: white;
    margin-right:10%;
    margin-left:10%;
    
    }
</style>


<br>
<br>
<div class="homepage">
<br>
<!-- a link to return to the all teachers list -->
<p style="text-align:center;"> <a href ="{% url 'show_all_teachers'  %}" > Return to all Teachers </a> </p>

<!-- display information about the teacher-->
<table align="center">
    <tr>
        <td width="30%">
            <table  class="ind-pages">
                <h2> Information</h2>
                <tr>
                    <th> Email</th>
                    <td >{{teacher.email_address}}</td>
                </tr>
                <tr>
                    <th> Hometown</th>
                    <td>{{teacher.city}}</td>
                </tr>
                <tr>
                    <th> Birth Date</th>
                    <td>{{teacher.birth_date}}</td>
                </tr>
            </table>
        </td>

        <td width="30%" >
            <h1 >{{teacher.first_name}} {{teacher.last_name}}</h1> 
            <br>
            <p style="text-align:center;"><img src="{{teacher.profile_image_url}}" style= "max-height:400 ;"></p>
            <br>
        </td>


         <!-- display classes taught by the teacher-->
        <td width="30%">  
            <h2> Classes Taught</h2>

            <table align="center">
                <tr>
                    <th> Class Name</th>
                    <th> Day</th>
                </tr>
                
                {% for class in teacher.get_classes %}
                    <tr>
                        <td >{{class.class_name}}</td>
                        <td >{{class.day}}</td>
                        <td >{% if status.image %}
                            <img src='{{class.class_picture.url}}' style='max-width: 200;'>
                            {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
</table>
</div>
{% endblock %}
