<!-- show_news_feed.html -->

{% extends 'mini_fb/base.html' %}
{% block content %}

<a href= "{% url 'profile' profile.pk %}"> Go back to Profile Page</a>
<h2> News Feed</h2> 


<table>
    <tr>
        <th> Time</th>
        <th> Message</th>
        <th> Friend</th>
        <th> Picture</th>
    </tr>
    
    {% for news in profile.get_news_feed %}
        <tr>
            <td align="center">{{news.timestamp}}</td>
            <td align="center">{{news.message}}</td>
            <td><a href= "{% url 'profile' news.profile.pk %}">{{news.profile.first_name}}{{news.profile.last_name}}</a></td>
            <td>{% if news.image %}
                <img src='{{news.image.url}}' style='max-width: 100;'>
                {% endif %}</td>
        </tr> 
    {% endfor %}
</table>  


   
  

{% endblock %}